PORT=3000

# development | production
NODE_ENV='development'

DATABASE_URL=postgres://<username>:<password>@<domain>:<port>/<database_name>

# secrets must be different
JWT_ACCESS_SECRET=<secret_for_access_token>
JWT_REFRESH_SECRET=<secret_for_refresh_token>
